body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-image: linear-gradient(to top right, blue, lightblue);
    margin: 0 auto;
    /* Added margin: 0 auto; to center the content horizontally */
    padding: 0;
}

a {
    text-decoration: none;
    color: lightgreen;
}

.container {
    max-width: 960px;
    margin: 4px auto;
    box-shadow: 0 0 10px white;
    padding: 20px;
}

.pfp__div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile__image {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px white;
}

.navbar__div {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    box-shadow: 0 0 10px white;
    background: lightpink;
    padding: 10px;
    border-radius: 20px;
}

.navbar__ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.name__heading {
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 20px;
    color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px lightgray;
    width: 50%;
    left: 50%;
}

.profession__heading {
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    color: #333;
    border-radius: 50px;
    color: wheat;
    box-shadow: 0 0 10px lightgray;
    width: 50%;
    left: 50%;
}

.about__me__div {
    margin-top: 30px;
    box-shadow: 0 0 10px white;
    /* background: lightpink; */
    padding: 10px;
    border-radius: 20px;
}

.about__me-paragraph {
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    color: wheat;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.about__me-heading {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.my__skills__div {
    margin-top: 30px;
    box-shadow: 0 0 10px white;
    /* background: lightpink; */
    padding: 10px;
    border-radius: 20px;
}

.my__skills-heading {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.my__skills__list {
    color: wheat;
    font-size: 20px;
    list-style: inside;
    margin-top: 4%;
    margin-left: 20%;
}

.technologies__worked__in__div {
    margin-top: 30px;
    box-shadow: 0 0 10px white;
    /* background: lightpink; */
    padding: 10px;
    border-radius: 20px;
}

.technologies__worked__in-heading {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.technologies__worked__in__list {
    color: wheat;
    font-size: 20px;
    list-style: inside;
    margin-top: 4%;
    margin-left: 20%;
}

.education__div {
    margin-top: 30px;
    box-shadow: 0 0 10px white;
    /* background: lightpink; */
    padding: 10px;
    border-radius: 20px;
}

.education-heading {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.education__ul {
    color: wheat;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 1%;
    text-decoration: none;
}

.contact__me__div {
    margin-top: 30px;
    box-shadow: 0 0 10px white;
    /* background: lightpink; */
    padding: 10px;
    border-radius: 20px;
}

.contact__me-heading {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.contact__me__ul {
    color: wheat;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 20%;
    text-decoration: none;
}

.contact__me__text__line {
    color: wheat;
    font-size: 20px;
    list-style: none;
    margin-top: 4%;
    margin-left: 20%;
}

.my__code__div {
    margin-top: 30px;
    box-shadow: 0 0 10px white;
    /* background: lightpink; */
    padding: 10px;
    border-radius: 20px;
}

.my__code-heading {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.my__code-paragraph {
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    color: wheat;
    border-radius: 50px;
    width: 50%;
    left: 50%;
}

.github__link {
    text-align: center;
    font-size: 20px;
    margin: auto;
    border-radius: 50px;
    width: 50%;
    margin-top: 5%;
    margin-left: 45%;
}

.footer_ {
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    color: black;
    border-radius: 50px;
    box-shadow: 0 0 10px lightgray;
    width: 50%;
    left: 50%;
    background: lightpink;
    bottom: 0;
}