body {
    background-image: radial-gradient(circle, #ffef96, #ff6f69);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ff6f69;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 2px 0;
    text-align: center;
}

.game__question {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

.game__answer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.game__result {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

.game__input {
    font-size: 24px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    width: 200px;
}

button {
    background-color: brown;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 10px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.game__container {
    background-color: #ffef96;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

button:hover {
    background-color: #ff9f40;
    animation: buttonHover 0.3s ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes buttonHover {
    0% {
        transform: scale(1);
        background-color: #ffcc5c;
    }

    10% {
        transform: scale(1.1);
        background-color: #ff9f40;
    }

    20% {
        transform: scale(1);
        background-color: #ff6f69;
    }

    30% {
        transform: scale(1.1);
        background-color: #ff70a6;
    }

    40% {
        transform: scale(1);
        background-color: #ff70e1;
    }

    50% {
        transform: scale(1.1);
        background-color: #b370ff;
    }

    60% {
        transform: scale(1);
        background-color: #70a6ff;
    }

    70% {
        transform: scale(1.1);
        background-color: #70e1ff;
    }

    80% {
        transform: scale(1);
        background-color: #70ffcc;
    }

    90% {
        transform: scale(1.1);
        background-color: #70ff6f;
    }

    100% {
        transform: scale(1);
        background-color: #ccff70;
    }
}

footer {
    background-color: #ff6f69;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 2px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 50%;
    left: 25%;
    right: 25%;
}

.footer-link-github {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.footer-link-github:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.game__score {
    font-size: 24px;
    margin: 70px 0;
    text-align: center;
}